<!-- <article class="card"> -->
<div class="card">
  <div class="card-image {{ class-role }}"></div>
  <div class="card-text">
    <h2>{{ name }}</h2>
    <ul>
      <li><a href="mailto:{{ email }}">{{ email }}</a></li>
      <li>{{ attribute }}</li>
    </ul>
  </div>
  <div class="card-stats">
    <div class="stat">
      <div class="value">{{ role }}</div>
      <div class="type">role</div>
    </div>
    <div class="stat">
      <div class="value">{{ id }}</div>
      <div class="type">id</div>
    </div>
  </div>
</div>
<!-- </article> -->
